.container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.inp-text {
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.612);
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.btn {
  outline: none;
  border: 1px solid orange;
  padding: 10px;
  cursor: pointer;
  background-color: orange;
  color: white;
}

.exceptions {
  color: red
}